body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 0.01rem;
    font-size: 22px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

article {
    width: 80%;
    margin: 2em auto;
}

iframe {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 380px;
    border: none;
    background: #eee;
    border-left: 3px solid black;
}
